<%= simple_form_for @question do |f| %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>

<ul class="list-group">
	<% @questions.each do |question| %>
		<li class="list-group-item">
			<%= question.content %> | <%= question.user.email %>
				| 
			<% question.comments.each do |comment| %>
				<%= comment.comment %>	
			<% end %>
			
			<%= simple_form_for @question do |f| %>
			  <%= f.input :content %>
			  <%= f.button :submit %>
			<% end %>

		</li>
	<% end %>	
</ul>
